*{
    font-family: "Work Sans", sans-serif;
}
header{
    width: 100%;
    margin: 0;
    border: 4px solid red;
}


.banner-pic img{
    height:100% ;
    /* border: 5px solid red; */
    width: 100%;
    /* width: 100%; */
    margin: 0;
}

.banner-article{
    position: absolute;

    /* border: 5px solid blue; */
    top: 70px;
    border: 4px solid blue;
    /* margin-left: 845px;
    margin-top: 216px;
    text-align: right;
    margin-right: 230px; */
    width: 350px;
    height: 450px;
    left: 50px;
    padding-left: 600px;
    padding-right: 40px;
}


.banner-article h3{
    font-size: 50px;
    font-weight: 700;
     width: 370px;
    height: 228; 
    border: 4px solid green;
    
}

.banner-btn{
    background-color:darkorange;
    color: white;
    font-size: 20px;
    font-weight: 300;
    width: 130px;
    height: 50px;
    border: 0;
    border-radius: 5px;
    /* margin-top: 578px;
    margin-left: 1210px; */
    
}


section{
    /* border: 5px solid blue; */
    width: 100%;
    /* margin-left: 30px; */
    /* margin-left: 150px; */
    margin-top: 60px;
}

.failures{
    display: flex;
}

.failures-article {
    margin-left: 140px;
    margin-top: 30px;
    

}

.failures-header{
    font-size: 40px;
    font-weight: 600;

}

.tick-color{
    color: #16D887;
}


.plans{
    display: flex;
    justify-content: space-between;
}

.plans-header{
    text-align: center;
    font-size: 40px;
    font-weight: 500;
}

.plans-part{
     text-align: center; 
}

.plans-part h5{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.plans-part p{
    margin-bottom: 60px;
}



.posative{
    
    border-radius: 10px;

    background-image:
    linear-gradient(to right, rgba(255, 104, 17, 0.52), rgb(250, 243, 240)),
    url('images/watch.png');

}

.posative-text{
    color: white;
    font-size: 30px;
    font-weight: 700;
    margin-left: 40px;
     margin-bottom: 60px;
    padding: 30px;
    
}

.Call-btn{
    margin-left: 70px;
    padding: 10px;
    background-color: white;
    color: darkorange;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    border: 0;
    /* margin-top: 5px; */
     margin-bottom: 30px; 

}



.footer{
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-between;
    height: 400px;
}

.footer-text{
    margin-left: 110px;
}

.footer-text h4{
    font-size: 30px;
    font-weight: 500;
}

.footer-form{
    margin-right: 140px;
}

.footer-form h5{
    font-size: 20px;
    font-weight: 500;

}

.footer-form input{
    margin-bottom: 10px;
    padding: 14px 30px;
    background-color: black;
    color: white;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;

}


.footer-form button{
    padding: 8px 15px;
    color: darkorange;
    border-radius: 5px;
}
footer{
    margin-top: 50px;
}



